.PhotosPage {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
	justify-content:center;	
    background-size:cover;
    gap: 4vw;
    margin-top: 15vh;
    z-index: 3;
	margin-left:2vw;
	margin-right:2vw;
}

@media (max-width:600px) {
	.PhotosPage {
		flex-direction:column;
		margin-left:0;
		margin-right:0;
		gap:1vh;
		align-content: flex-start;
		justify-content: center;
	}
}



