.Header {
    display: flex;
    position: fixed;
    align-items: center;
    top:0;
    left:0;
    right:0;
    background-color:black;
    margin-bottom: 5%;
    z-index: 5;
}

.Header > button {
    margin: 25px;
    font-size:21;
    background-color:black;
}

.Header > img {
    height: 35px;
}