.PhotoCard {
    width: 20vw;
    
    background: rgba(43, 39, 39, 0.9);
    position: relative;
    overflow: hidden;
    min-width: 200px;
    max-width: 350px;
    border-radius: 1rem;
}

.PhotoCard img {
    width:85%;
    max-height: 40%;
    object-fit: contain;
    margin-top:15%;
    border-radius: 0.5rem;

}

.PhotoCard p {
    font-size: small;
    text-align: start;
    margin:15%;
}