.AboutPage {
    background: rgba(43, 39, 39, 0.9);
	max-width: 1280px;
    text-align:left;
    padding: 5rem;
    border-radius: 2rem;
    color: antiquewhite;
	margin-top: 10vh;
	z-index: 3;
	justify-content:center;
}

.linkStyle {
	color: antiquewhite;
}
.linkStyle:hover {
	color: #89CFF0;
}

@media (max-width:600px) {
	.AboutPage {
		margin-left: 1vw;
		margin-right: 1vw;
		margin-top: 15vh;
		padding-left: 5vw;
		padding-right:5vw;
	}

}
